 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>It's A Dogs Life!</h2>  
  <div class="stripe">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <img src="http://a.gifb.in/022012/1329246321_pug_ignores_master_when_hes_away.gif" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="caption">Ignored</div>
      </div>
    </div>
  </div>